<app-header></app-header>
<div class="user_page_header">
  <div class="user_page_cover">
    <div class="user_cover_img">
      <img src="assets\images\cover.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="user_profile">
    
    <div class="user_profile_pic">
      <img src="assets\images\profile.jpg">
    </div>
    <div class="user_profile_info">
      <ul>
        <li><div class="username" style="text-transform: uppercase;"><img src="assets\images\svg\002-avatar.svg"> Kalpesh sir</div></li>
        <li><div class="email"><img src="assets\images\gmail.svg">Email</div></li>
        <li><div class="country"><img src="assets\images\flag.svg">country</div></li>
        <li><div class="mobile"><img src="assets\images\contact.svg">contact no</div></li> 
        <li><div class="web"> <img src="assets\images\web.svg">webpage</div></li>
        <li>
          <a  (click)="onLogout()" href="/login">Logout</a>
        </li>
      </ul>

    </div>
    <div class="creat_company_btn">
      <button class="company_btn" [routerLink]= "['/company']" *ngIf="addcomapnay">Creat Company</button>
      <button class="company_btn" [routerLink]= "['/company']" *ngIf="!addcomapnay">Go to Company</button>
    </div>

  </div>
</div>