.header{
	width: 100%;
	height: 70px;
    background-color: #008E9B;
 }
.header_element{
	width: 80%;
	height: 100px;
	margin: 0 auto;
}
.header_listing{
	height: 100%;
	display: flex;
}
.header_logo{
	width: 10%;
	height: 70%;
	background-color: #A8EB12;
}
.search_bar{
	width: 40%;
	height: 100%;
	padding-left: 5%;
}
.listing_options{
	width: 50%;
	height: 100%;
	margin-left: 20%;
	display: flex;
}
.option {
	width: 25%;
    margin-top: 5%;
   padding-left: 20px;
}
.search_box{
	display: flex;
	height: 30%;
	margin-top: 5%;
}
.search_box input{
	width: 75%;
	border: none;
	padding: 10px 10px 10px 10px;
}
 .search_btn{
	width: 25%;
	
}
 .search_btn button{
 	width: 100%;
 	height: 100%;
 	border: none;
 	cursor: pointer;
 	background-color: #333333;
 	color: #FFFfff;
}
a{
	text-decoration: none;
}
.option a{
        color: #ffffff;
        float: right;
}
