<app-header2></app-header2>
<div class="conatiner">
<div class="product_list">
  <div class="product_card">
    <div class="product_image">
      <img src="assets\images\product.jpg">
    </div>
    <div class="product_info">
      <h2>Product Name</h2>
      <h5>Company Name</h5>
      <div class="product_price">
        <span> &#8377; 300</span>
      </div>
      <div class="product_btn">
        <button>CONTACT</button>
        <button>something</button>
        <button>RESOURCES</button>
      </div>
   </div>
  </div>
  </div>
</div>
<div class="add_btn">
  <button [routerLink]="['/product']">Add Product</button>
</div>