<app-header></app-header>
<div class="conatiner">
    <div class="page_heading">
        <h2>SIGNUP FORM</h2>
      </div>
  <div class="form">
      <form (submit)="onSubmit()">
    <ul>
     <li><input type="text" name="UserName" placeholder="User Name" [(ngModel)]="UserName"></li>
     <li><input type="password" name="Password" placeholder="Enter Password" [(ngModel)]="Password"></li>
    <li><input type="email" name="Email" placeholder="Enter Email" [(ngModel)]="Email"></li>
     <li><input type="number" name="Mobile" placeholder="Mobile Number" [(ngModel)]="Mobile"></li>
     <li><input type="text" name="Address" placeholder="Adderss" [(ngModel)]="Address"></li>
     <!-- <li><input type="date" name="dob" placeholder="Date Of Birth" [(ngModel)]="Email"></li> -->
     <div class="btn"><button>Sign Up</button></div>
    </ul>
    </form>
  </div>
</div>
