<app-header></app-header>
<div class="conatiner">
    <div class="page_heading">
        <h2>SIGNUP FORM</h2>
      </div>
  <div class="form">
    <ul>
     <li><input type="text" name="userName" placeholder="User Name"></li>
     <li><input type="password" name="password" placeholder="Enter Password"></li>
    <li><input type="email" name="email" placeholder="Enter Email"></li>
     <li><input type="number" name="mobile_number" placeholder="Mobile Number"></li>
     <li><input type="text" name="address" placeholder="Adderss"></li>
     <li><input type="date" name="dob" placeholder="Date Of Birth"></li>
     <div class="btn"><button>Sign Up</button></div>
    </ul>
  </div>
</div>
