<app-header2></app-header2>
<div class="conatiner">
<div class="company_listing">
  <div class="company_card">
    <div class="company_image">
      <img src="assets\images\product.jpg">
    </div>
    <div class="company_info">
  <h2>Company Name</h2>
  <h5>estd. in 1998</h5>
  <div class="company_bio">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .</p>
  </div>
  <div class="company_btn">
    <button>CONTACT</button>
    <button>something</button>
    <button>RESOURCES</button>
  </div>
</div>
  </div>
  </div>
</div>
<div class="add_btn">
  <button [routerLink]="['/company']">Add Company</button>
</div>