<app-header></app-header>
<div >
<div class="company_page_header" >
        <div class="company_page_cover">
          <div class="company_cover_img">
            <img src="assets\images\cover.jpg">
          </div>
        </div>
      </div>
      
      <div class="container" >
        <div class="company_profile">
          <div class="company_profile_pic">
            <img src="assets\images\profile.jpg">
          </div>
          <div class="company_profile_info"  >
              <ul>
              <li><div class="companyname" style="text-transform: uppercase;"><img src="assets\images\svg\002-avatar.svg"><p>{{companies.companyName}}</p></div></li>`
              <li><div class="email"><img src="assets\images\gmail.svg">{{companies.category}}</div></li>
              <li><div class="country"><img src="assets\images\flag.svg">{{companies.location}}</div></li>
              
              <li><div class="web"> <img src="assets\images\web.svg">{{companies.website}}</div></li>
              
              
            </ul>
      
          </div>
            
        </div>
      </div>
      <div class="company_bio">
          <h3>Company bio</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
</div>