<app-header></app-header>
<div class="company_page_header" >
        <div class="company_page_cover">
          <div class="company_cover_img">
            <img src="assets\images\cover.jpg">
          </div>
        </div>
      </div>
      
      <div class="container" >
        <div class="company_profile">
          <div class="company_profile_pic">
            <img src="assets\images\profile.jpg">
          </div>
          <div class="company_profile_info" *ngFor="let company of companies">
            <ul>
              <li><div class="companyname" style="text-transform: uppercase;"><img src="assets\images\svg\002-avatar.svg">{{company.companyName}}</div></li>
              <li><div class="email"><img src="assets\images\gmail.svg">{{company.category}}</div></li>
              <li><div class="country"><img src="assets\images\flag.svg">{{company.location}}</div></li>
              <!-- <li><div class="mobile"><img src="assets\images\contact.svg">contact no</div></li>  -->
              <li><div class="web"> <img src="assets\images\web.svg">{{company.website}}</div></li>
              <!-- <li><div class="web"> <img src="assets\images\web.svg">Active hours</div></li> -->
              
            </ul>
      
          </div>
            
        </div>
      </div>
      <div class="company_bio">
          <h3>Company bio</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
