<app-header></app-header>
<div class="conatiner">
    <div class="page_heading">
        <h2>Post Form</h2>
      </div>
  <div class="form">
    <ul>
     <li class="image_btn">
       <div class="image_link"><input type="text" placeholder="Image Url"></div>
       <div class="image_button"><button>Add Image</button></div>
     </li>
     <li><input type="text" name="ProductName" placeholder="Post Content"></li>
     <li><input type="time" placeholder="Post Time"></li>
     
     <div class="btn"><button>Creat Post</button></div>
    </ul>
  </div>
  <div class="comment_section">
      <div class="page_heading">
          <h2>Comments Section</h2>
        </div>
<ul>
    <li><input type="text" name="ProductName" placeholder="Post Content"></li>
    <div class="btn"><button>Add Comment</button></div>
</ul>
  </div>
</div>

