<app-header></app-header>
<div class="conatiner">
    <div class="page_heading">
        <h2>Product Form</h2>
      </div>
  <div class="form">
    <ul>
     <li><input type="text" name="ProductName" placeholder="Product Name"></li>
     <li><input type="text" name="ComapnyName" placeholder="Company Name"></li>
     <li><input type="text" name="IndustryyName" placeholder="Industry Name"></li>
     <li class="image_btn">
       <div class="image_link"><input type="text" placeholder="Image Url"></div>
       <div class="image_button"><button>Add Image</button></div>
     </li>
     <li>
       <textarea placeholder="Enter the description of the product"></textarea>
     </li>
     <div class="btn"><button>Creat Product</button></div>
    </ul>
  </div>
</div>
