<app-header></app-header>
<div class="conatiner">
    <div class="page_heading">
        <h2>Product Form</h2>
      </div>
  <div class="form">
    <form (submit)="onSubmit()">
    <ul>
     <li><input type="text" name="ProductName" [(ngModel)]="ProductName" placeholder="Product Name"></li>
     <li><input type="text" name="CompanyName" [(ngModel)]="CompanyName"  placeholder="Company Name"></li>
     <li><input type="text" name="IndustryName" [(ngModel)]="IndustryName" placeholder="Industry Name"></li>
     <li class="image_btn">
       <div class="image_link"><input name="image" (change)=onFileSelected($event) type="file" accept="image/*" placeholder="Image Url"></div>
       
     </li>
     <li>
       <textarea name="description" placeholder="Enter the description of the product" [(ngModel)]="description"></textarea>
     </li>
     <div class="btn" type="submit"><button>Creat Product</button></div>
    </ul> 
  </form>
  </div>
</div>
